#fancydiv1 {
    grid-column: span 2;
    background-color: #2dbbf9;
    height: 320px;
}

#fancydiv2 {
    grid-column: span 3;
    background-color: #2aacfc;
    height: 340px;
}

#fancydiv3 {
    grid-column: span 1;
    background-color: #4290ff;
    height: 360px;
}

#fancydiv4 {
    grid-column: span 2;
    background-color: #70d4ff;
    height: 500px;
}

#fancydiv5 {
    grid-column: span 3;
    background-color: #287bd9;
    height: 520px;
}

#fancydiv6 {
    grid-column: span 1;
    background-color: #3c9ae1;
    height: 540px;
}

#fancydiv7 {
    grid-column: span 2;
    background-color: #37ebff;
    height: 210px;
}

#fancydiv8 {
    grid-column: span 3;
    background-color: #37d7ff;
    height: 350px;
}

#fancydiv9 {
    grid-column: span 1;
    background-color: #57eeff;
    height: 370px;
}

#fancydiv10 {
    grid-column: span 2;
    background-color: #26a2d7;
    height: 390px;
}

#fancydiv11 {
    grid-column: span 3;
    background-color: #14a8f2;
    height: 410px;
}

#fancydiv12 {
    grid-column: span 1;
    background-color: #6ee4ea;
    height: 550px;
}

#fancydiv13 {
    grid-column: span 2;
    background-color: #6eead3;
    height: 570px;
}

#fancydiv14 {
    grid-column: span 3;
    background-color: #2dbbf9;
    height: 240px;
}

#fancydiv15 {
    grid-column: span 1;
    background-color: #2aacfc;
    height: 260px;
}

#fancydiv16 {
    grid-column: span 2;
    background-color: #4290ff;
    height: 400px;
}

#fancydiv17 {
    grid-column: span 3;
    background-color: #70d4ff;
    height: 420px;
}

#fancydiv18 {
    grid-column: span 1;
    background-color: #287bd9;
    height: 440px;
}

#fancydiv19 {
    grid-column: span 2;
    background-color: #3c9ae1;
    height: 460px;
}

#fancydiv20 {
    grid-column: span 3;
    background-color: #37ebff;
    height: 600px;
}

#fancydiv21 {
    grid-column: span 1;
    background-color: #37d7ff;
    height: 270px;
}

#fancydiv22 {
    grid-column: span 2;
    background-color: #57eeff;
    height: 290px;
}

#fancydiv23 {
    grid-column: span 3;
    background-color: #26a2d7;
    height: 310px;
}

#fancydiv24 {
    grid-column: span 1;
    background-color: #14a8f2;
    height: 450px;
}

#fancydiv25 {
    grid-column: span 2;
    background-color: #6ee4ea;
    height: 470px;
}

#fancydiv26 {
    grid-column: span 3;
    background-color: #6eead3;
    height: 490px;
}

#fancydiv27 {
    grid-column: span 1;
    background-color: #2dbbf9;
    height: 510px;
}

#fancydiv28 {
    grid-column: span 2;
    background-color: #2aacfc;
    height: 300px;
}

#fancydiv29 {
    grid-column: span 3;
    background-color: #4290ff;
    height: 320px;
}

#fancydiv30 {
    grid-column: span 1;
    background-color: #70d4ff;
    height: 340px;
}

#fancydiv31 {
    grid-column: span 2;
    background-color: #287bd9;
    height: 360px;
}

#fancydiv32 {
    grid-column: span 3;
    background-color: #3c9ae1;
    height: 500px;
}

#fancydiv33 {
    grid-column: span 1;
    background-color: #37ebff;
    height: 520px;
}

#fancydiv34 {
    grid-column: span 2;
    background-color: #37d7ff;
    height: 540px;
}

#fancydiv35 {
    grid-column: span 3;
    background-color: #57eeff;
    height: 210px;
}

#fancydiv36 {
    grid-column: span 1;
    background-color: #26a2d7;
    height: 350px;
}

#fancydiv37 {
    grid-column: span 2;
    background-color: #14a8f2;
    height: 370px;
}

#fancydiv38 {
    grid-column: span 3;
    background-color: #6ee4ea;
    height: 390px;
}

#fancydiv39 {
    grid-column: span 1;
    background-color: #6eead3;
    height: 410px;
}

#fancydiv40 {
    grid-column: span 2;
    background-color: #2dbbf9;
    height: 550px;
}

#fancydiv41 {
    grid-column: span 3;
    background-color: #2aacfc;
    height: 570px;
}

#fancydiv42 {
    grid-column: span 1;
    background-color: #4290ff;
    height: 240px;
}

#fancydiv43 {
    grid-column: span 2;
    background-color: #70d4ff;
    height: 260px;
}

#fancydiv44 {
    grid-column: span 3;
    background-color: #287bd9;
    height: 400px;
}

#fancydiv45 {
    grid-column: span 1;
    background-color: #3c9ae1;
    height: 420px;
}

#fancydiv46 {
    grid-column: span 2;
    background-color: #37ebff;
    height: 440px;
}

#fancydiv47 {
    grid-column: span 3;
    background-color: #37d7ff;
    height: 460px;
}

#fancydiv48 {
    grid-column: span 1;
    background-color: #57eeff;
    height: 600px;
}

#fancydiv49 {
    grid-column: span 2;
    background-color: #26a2d7;
    height: 270px;
}

#fancydiv50 {
    grid-column: span 3;
    background-color: #14a8f2;
    height: 290px;
}

#fancydiv51 {
    grid-column: span 1;
    background-color: #6ee4ea;
    height: 310px;
}

#fancydiv52 {
    grid-column: span 2;
    background-color: #6eead3;
    height: 450px;
}

#fancydiv53 {
    grid-column: span 3;
    background-color: #2dbbf9;
    height: 470px;
}

#fancydiv54 {
    grid-column: span 1;
    background-color: #2aacfc;
    height: 490px;
}

#fancydiv55 {
    grid-column: span 2;
    background-color: #4290ff;
    height: 510px;
}

#fancydiv56 {
    grid-column: span 3;
    background-color: #70d4ff;
    height: 300px;
}

#fancydiv57 {
    grid-column: span 1;
    background-color: #287bd9;
    height: 320px;
}

#fancydiv58 {
    grid-column: span 2;
    background-color: #3c9ae1;
    height: 340px;
}

#fancydiv59 {
    grid-column: span 3;
    background-color: #37ebff;
    height: 360px;
}

#fancydiv60 {
    grid-column: span 1;
    background-color: #37d7ff;
    height: 500px;
}

#fancydiv61 {
    grid-column: span 2;
    background-color: #57eeff;
    height: 520px;
}

#fancydiv62 {
    grid-column: span 3;
    background-color: #26a2d7;
    height: 540px;
}

#fancydiv63 {
    grid-column: span 1;
    background-color: #14a8f2;
    height: 210px;
}

#fancydiv64 {
    grid-column: span 2;
    background-color: #6ee4ea;
    height: 350px;
}

#fancydiv65 {
    grid-column: span 3;
    background-color: #6eead3;
    height: 370px;
}

#fancydiv66 {
    grid-column: span 1;
    background-color: #2dbbf9;
    height: 390px;
}

#fancydiv67 {
    grid-column: span 2;
    background-color: #2aacfc;
    height: 410px;
}

#fancydiv68 {
    grid-column: span 3;
    background-color: #4290ff;
    height: 550px;
}

#fancydiv69 {
    grid-column: span 1;
    background-color: #70d4ff;
    height: 570px;
}

#fancydiv70 {
    grid-column: span 2;
    background-color: #287bd9;
    height: 240px;
}

#fancydiv71 {
    grid-column: span 3;
    background-color: #3c9ae1;
    height: 260px;
}

#fancydiv72 {
    grid-column: span 1;
    background-color: #37ebff;
    height: 400px;
}

#fancydiv73 {
    grid-column: span 2;
    background-color: #37d7ff;
    height: 420px;
}

#fancydiv74 {
    grid-column: span 3;
    background-color: #57eeff;
    height: 440px;
}

#fancydiv75 {
    grid-column: span 1;
    background-color: #26a2d7;
    height: 460px;
}

#fancydiv76 {
    grid-column: span 2;
    background-color: #14a8f2;
    height: 600px;
}

#fancydiv77 {
    grid-column: span 3;
    background-color: #6ee4ea;
    height: 270px;
}

#fancydiv78 {
    grid-column: span 1;
    background-color: #6eead3;
    height: 290px;
}

#fancydiv79 {
    grid-column: span 2;
    background-color: #2dbbf9;
    height: 310px;
}

#fancydiv80 {
    grid-column: span 3;
    background-color: #2aacfc;
    height: 450px;
}

#fancydiv81 {
    grid-column: span 1;
    background-color: #4290ff;
    height: 470px;
}

#fancydiv82 {
    grid-column: span 2;
    background-color: #70d4ff;
    height: 490px;
}

#fancydiv83 {
    grid-column: span 3;
    background-color: #287bd9;
    height: 510px;
}

#fancydiv84 {
    grid-column: span 1;
    background-color: #3c9ae1;
    height: 300px;
}

#fancydiv85 {
    grid-column: span 2;
    background-color: #37ebff;
    height: 320px;
}

#fancydiv86 {
    grid-column: span 3;
    background-color: #37d7ff;
    height: 340px;
}

#fancydiv87 {
    grid-column: span 1;
    background-color: #57eeff;
    height: 360px;
}

#fancydiv88 {
    grid-column: span 2;
    background-color: #26a2d7;
    height: 500px;
}

#fancydiv89 {
    grid-column: span 3;
    background-color: #14a8f2;
    height: 520px;
}

#fancydiv90 {
    grid-column: span 1;
    background-color: #6ee4ea;
    height: 540px;
}

#fancydiv91 {
    grid-column: span 2;
    background-color: #6eead3;
    height: 210px;
}

#fancydiv92 {
    grid-column: span 3;
    background-color: #2dbbf9;
    height: 350px;
}

#fancydiv93 {
    grid-column: span 1;
    background-color: #2aacfc;
    height: 370px;
}

#fancydiv94 {
    grid-column: span 2;
    background-color: #4290ff;
    height: 390px;
}

#fancydiv95 {
    grid-column: span 3;
    background-color: #70d4ff;
    height: 410px;
}

#fancydiv96 {
    grid-column: span 1;
    background-color: #287bd9;
    height: 550px;
}

#fancydiv97 {
    grid-column: span 2;
    background-color: #3c9ae1;
    height: 570px;
}

#fancydiv98 {
    grid-column: span 3;
    background-color: #37ebff;
    height: 240px;
}

#fancydiv99 {
    grid-column: span 1;
    background-color: #37d7ff;
    height: 260px;
}

#fancydiv100 {
    grid-column: span 2;
    background-color: #57eeff;
    height: 400px;
}

#fancydiv101 {
    grid-column: span 3;
    background-color: #26a2d7;
    height: 420px;
}

#fancydiv102 {
    grid-column: span 1;
    background-color: #14a8f2;
    height: 440px;
}

#fancydiv103 {
    grid-column: span 2;
    background-color: #6ee4ea;
    height: 460px;
}

#fancydiv104 {
    grid-column: span 3;
    background-color: #6eead3;
    height: 600px;
}

#fancydiv105 {
    grid-column: span 1;
    background-color: #2dbbf9;
    height: 270px;
}

#fancydiv106 {
    grid-column: span 2;
    background-color: #2aacfc;
    height: 290px;
}

#fancydiv107 {
    grid-column: span 3;
    background-color: #4290ff;
    height: 310px;
}

#fancydiv108 {
    grid-column: span 1;
    background-color: #70d4ff;
    height: 450px;
}

#fancydiv109 {
    grid-column: span 2;
    background-color: #287bd9;
    height: 470px;
}

#fancydiv110 {
    grid-column: span 3;
    background-color: #3c9ae1;
    height: 490px;
}

#fancydiv111 {
    grid-column: span 1;
    background-color: #37ebff;
    height: 510px;
}

#fancydiv112 {
    grid-column: span 2;
    background-color: #37d7ff;
    height: 300px;
}

#fancydiv113 {
    grid-column: span 3;
    background-color: #57eeff;
    height: 320px;
}

#fancydiv114 {
    grid-column: span 1;
    background-color: #26a2d7;
    height: 340px;
}

#fancydiv115 {
    grid-column: span 2;
    background-color: #14a8f2;
    height: 360px;
}

#fancydiv116 {
    grid-column: span 3;
    background-color: #6ee4ea;
    height: 500px;
}

#fancydiv117 {
    grid-column: span 1;
    background-color: #6eead3;
    height: 520px;
}

#fancydiv118 {
    grid-column: span 2;
    background-color: #2dbbf9;
    height: 540px;
}

#fancydiv119 {
    grid-column: span 3;
    background-color: #2aacfc;
    height: 210px;
}

#fancydiv120 {
    grid-column: span 1;
    background-color: #4290ff;
    height: 350px;
}

#fancydiv121 {
    grid-column: span 2;
    background-color: #70d4ff;
    height: 370px;
}

#fancydiv122 {
    grid-column: span 3;
    background-color: #287bd9;
    height: 390px;
}

#fancydiv123 {
    grid-column: span 1;
    background-color: #3c9ae1;
    height: 410px;
}

#fancydiv124 {
    grid-column: span 2;
    background-color: #37ebff;
    height: 550px;
}

#fancydiv125 {
    grid-column: span 3;
    background-color: #37d7ff;
    height: 570px;
}

#fancydiv126 {
    grid-column: span 1;
    background-color: #57eeff;
    height: 240px;
}

#fancydiv127 {
    grid-column: span 2;
    background-color: #26a2d7;
    height: 260px;
}

#fancydiv128 {
    grid-column: span 3;
    background-color: #14a8f2;
    height: 400px;
}

#fancydiv129 {
    grid-column: span 1;
    background-color: #6ee4ea;
    height: 420px;
}

#fancydiv130 {
    grid-column: span 2;
    background-color: #6eead3;
    height: 440px;
}

#fancydiv131 {
    grid-column: span 3;
    background-color: #2dbbf9;
    height: 460px;
}

#fancydiv132 {
    grid-column: span 1;
    background-color: #2aacfc;
    height: 600px;
}

#fancydiv133 {
    grid-column: span 2;
    background-color: #4290ff;
    height: 270px;
}

#fancydiv134 {
    grid-column: span 3;
    background-color: #70d4ff;
    height: 290px;
}

#fancydiv135 {
    grid-column: span 1;
    background-color: #287bd9;
    height: 310px;
}

#fancydiv136 {
    grid-column: span 2;
    background-color: #3c9ae1;
    height: 450px;
}

#fancydiv137 {
    grid-column: span 3;
    background-color: #37ebff;
    height: 470px;
}

#fancydiv138 {
    grid-column: span 1;
    background-color: #37d7ff;
    height: 490px;
}

#fancydiv139 {
    grid-column: span 2;
    background-color: #57eeff;
    height: 510px;
}

#fancydiv140 {
    grid-column: span 3;
    background-color: #26a2d7;
    height: 300px;
}

#fancydiv141 {
    grid-column: span 1;
    background-color: #14a8f2;
    height: 320px;
}

#fancydiv142 {
    grid-column: span 2;
    background-color: #6ee4ea;
    height: 340px;
}

#fancydiv143 {
    grid-column: span 3;
    background-color: #6eead3;
    height: 360px;
}

#fancydiv144 {
    grid-column: span 1;
    background-color: #2dbbf9;
    height: 500px;
}

#fancydiv145 {
    grid-column: span 2;
    background-color: #2aacfc;
    height: 520px;
}

#fancydiv146 {
    grid-column: span 3;
    background-color: #4290ff;
    height: 540px;
}

#fancydiv147 {
    grid-column: span 1;
    background-color: #70d4ff;
    height: 210px;
}

#fancydiv148 {
    grid-column: span 2;
    background-color: #287bd9;
    height: 350px;
}

#fancydiv149 {
    grid-column: span 3;
    background-color: #3c9ae1;
    height: 370px;
}

#fancydiv150 {
    grid-column: span 1;
    background-color: #37ebff;
    height: 390px;
}

